body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #0bb624;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #0bb624;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #0bb624;
  border-radius: 5px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #0bb624;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #0bb624;
  color: white;
  margin-top: 20px;
}
